:root {
  --sidebar-width: 12rem;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: #222;
  line-height: 1.6;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/blog/fonts/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}