---
import BaseLayout from "../layouts/BaseLayout.astro";
const base = import.meta.env.BASE_URL;
import "../styles/global.css";
---


<BaseLayout backgroundImage="/blog/images/paper_background.jpg">
  <img src={`${base}/images/cursor.gif`} alt="" class="floating-gif gif-1" />
		<div class="blog">
			<h1 class="title">Welcome to my blog!</h1>
			<section class="three-col">
				<div class="col">
					<img src="/blog/images/bass.png" alt="description" height="200" width="200" class="wiggle-image"/>
				</div>
				<div class="col">
					<div class="description">
						<p>In this blog, I will be posting some stuff I find interesting. Such as the music I'm currently into, my youtube videos, some graphic design work or some stuff I find inspiring </p>
					</div>
				</div>
				<div class="col">
					<img src="/blog/images/guitar.png" alt="description" height="200" width="62" class="wiggle-image"/>
				</div>
			</section>
		</div>
</BaseLayout>	


<style>

  .blog {
    min-height: 80vh;
    padding: 2rem;
    text-align: center;
    border-radius: 16px;

    background: linear-gradient(
      to bottom,
      rgba(245, 243, 244, 0.85) 0%,
      rgba(102, 7, 8, 0.7) 100%
    );
    border: 2px solid rgba(245, 243, 244, 0.6);
    box-shadow:
      0 8px 24px rgba(0, 0, 0, 0.3),
      inset 0 1px 0 rgba(255, 255, 255, 0.8),
      inset 0 -2px 6px rgba(0, 0, 0, 0.1);
  }

  .title {
    font-family: 'Orbitron', system-ui;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 2px 4px rgba(0,0,0,0.15);
  }

  .description {
	font-family: 'Nunito', system-ui;
	font-size: 1.4rem;
    margin-top: 4rem;
  }

  .three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  }

  .wiggle-image {
    animation: wiggle 2s ease-in-out infinite alternate;
  }

  @keyframes wiggle {
    0% {
    transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
  }

  .floating-gif {
  position: fixed;
  width: 40px;
  pointer-events: none;
  z-index: 50;
}

.gif-1 {
  top: 10%;
  left: 5%;
  animation: fly1 15s linear infinite;
}

/*.gif-2 {
  top: 60%;
  left: 70%;
  animation: fly2 20s linear infinite;
}

.gif-3 {
  top: 30%;
  left: 40%;
  animation: fly3 12s linear infinite;
}*/

@keyframes fly1 {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(60vw, 20vh); }
  50%  { transform: translate(20vw, 50vh); }
  75%  { transform: translate(70vw, 10vh); }
  100% { transform: translate(0, 0); }
}
/*
@keyframes fly2 {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(-40vw, 30vh); }
  50%  { transform: translate(-60vw, -20vh); }
  75%  { transform: translate(-10vw, -40vh); }
  100% { transform: translate(0, 0); }
}

@keyframes fly3 {
  0%   { transform: translate(0, 0); }
  33%  { transform: translate(30vw, -20vh); }
  66%  { transform: translate(-20vw, 30vh); }
  100% { transform: translate(0, 0); }
}*/
</style>
